<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="composeTitle">Title</label>
    <input class="form-control" type="text" name="composeTitle" value="">
    <label for="composeBody">Post</label>
    <textarea class="form-control" name="composeBody" cols="40" rows="5"></textarea>
    <br>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </div>
</form>

<%- include("partials/footer") -%>
